 <!DOCTYPE html>
{% load static %}
<html lang="zxx">
<head>
    <script>
        		var user='{{request.user}}'
		function getToken(name){
			var cookieValue=null;
			if(document.cookie && document.cookie !==''){
				var cookies = document.cookie.split(';');
				for(var i=0; i<cookies.length; i++){
					var cookie=cookies[i].trim();
					if(cookie.substring(0,name.length+1)==(name+'=')){
						cookieValue=decodeURIComponent(cookie.substring(
							name.length+1
						));
						break;
					}
				}
			}
			return cookieValue;
		}
		var csrftoken=getToken('csrftoken');

    </script>
    {% block head %}
    {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'myapp/css/nav.css'%}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'myapp/css/subcategory.css' %}">
    <!-- <link rel="stylesheet" href="style2.css"> -->
<!--    <link rel="stylesheet" href="{% static 'myapp/css/productScreen.css' %}">-->
    <link rel="stylesheet" href="{% static 'myapp/css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/cartresponsible.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/checkout.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap" rel="stylesheet">


     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;300&family=Sofia&display=swap" rel="stylesheet">

</head>
<body>
   <div class="container-fluid p-3 pt-2"  style="background:#2F2E2E">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-4 col-4 col-md-4 col-lg-4 text-center" >
                <a href="{{request.META.HTTP_REFERER}}" class="btn btn-dark p-2" ><i class="fa-solid fa-arrow-left" ></i>&nbsp;&nbsp;Go Back</a>
            </div>
            <div class="col-sm-4 col-4 col-md-4 col-lg-4  text-center">
                <a href="/" style="text-decoration: none;font-size:2rem; color: #f74f06 ; font-family: 'Advent Pro', sans-serif;
      font-family: 'Sofia', cursive;font-weight: bold;">Lonng</a>
        </div>
            <div class="col-sm-4 col-4 col-md-4 col-lg-4 text-center">
                <div class="col" style="color: #fff;"> <a href="{% url 'cart' %}"> <i class="fas fa-shopping-cart" style="color: #fff;"></i></a>{{cartItems}}</div>
            </div>
        </div>
    </div>


{% block body %}

{% endblock %}
        <script rel="stylesheet" src="{% static 'myapp/js4/cart.js' %}"></script>
</body>
</html>