{% extends 'myapp/main.html' %}

{% block body %}
<style type="text/css">
	.hidden{
		display: none;
	}
</style>

<!-- Include SweetAlert2 CSS and JS in your HTML file -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="container">

		<!-- Start Checkout -->
		<section class="shop checkout section">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-12">
						<div class="order-details">
							<!-- Order Widget -->
							<div class="single-widget">
								<h2>CART  TOTALS</h2>
								<div class="content">
									<ul>
										<li>Sub Total item: <span>{{order.get_cart_items}}</span></li>

										<li class="last">Sub Total<span><i class="fa-solid fa-bangladeshi-taka-sign"></i> {{order.get_cart_total}}</span></li>
								    	<li>Shipping Charge:  <span id="totalAmount"></span> <span ><i class="fa-solid fa-bangladeshi-taka-sign"></i> </span> </li>
										<hr>
										<li>Total: <strong id="totaltk"> {{order.get_cart_total}}</strong><i class="fa-solid fa-bangladeshi-taka-sign"></i> </li>
								</div>
							</div>
							
							<div class="single-widget payement">
								<div class="content">
<!--									<img src="images/payment-method.png" alt="#">-->
									</div>
									</div>
							<!--/ End Payment Method Widget -->
							<!-- Button Widget -->
									<div class="single-widget get-button">
								<div class="content">
									<!-- <div class="button">
										<a href="#" class="btn">proceed to checkout</a>
										</div> -->
									</div>
									</div>
							<!--/ End Button Widget -->
								</div>
					</div>
					<div class="col-lg-8 col-12">
						<div class="checkout-form">
							<h2>Make Your Checkout Here</h2>
							<p>Please register in order to checkout more quickly</p>
							<!-- Form -->
									 <h2>Select your location:</h2>
													<form class="mb-4" >
														<label class="mt-3">
															<input type="radio" name="location" value="dhaka" required> 
															Inside Dhaka - Regular Delivery : <i class="fa-solid fa-bangladeshi-taka-sign"></i>  60

														</label>
														<br>
														<label class="mt-3">
															<input type="radio" name="location" value="outside-dhaka" required>
															Outside Dhaka - Regular Delivery: <i class="fa-solid fa-bangladeshi-taka-sign"></i> 100

														</label>
													</form>
							<div class="col-lg-10">
								<div class="box-element" id="form-wrapper">
									<form id="form">


										<div id="shipping-info">

											<hr>


											   <p>Shiping Information: </p>
												<hr>
												<label>Email*</label>
											   <div class="form-field pb-2">
													<input class="form-control" type="text" name="emailAddress" required>
												</div>

												<div class="form-field pb-2">
												<label>Phon Number*</label>

												<input class="form-control" type="text" name="phonNumber" required>
												</div>
												<div class="form-field pb-2">
												<label> Address*</label>

														<textarea class="form-control" rows="4" cols="50"type="text" name="address" required></textarea>
													</div>
										</div>
										<hr>
										<input id="form-button" class="btn btn-success btn-block" type="submit" value="Next">
									</form>
								</div>
							<br>
								<div class="box-element hidden"  id="payment-info">
									<label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox" required> Cash On Delivery</label>
									<button class="btn btn-dark" id="make-payment">Conform</button>
								</div>
							</div>
							<!--/ End Form -->
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<!--/ End Checkout -->

</div>

		<script>
 		var shipping = '{{order.shipping}}';
        var totalInt = '{{order.get_cart_total}}';
        var total = parseInt(totalInt, 10);
        var total1=total;
        const dhakaAmount = 60;
        var Shipping_charge = 100;

        const totalAmountElement = document.getElementById('totalAmount');
        const totaltkElement = document.getElementById('totaltk');

        document.querySelectorAll('input[type=radio][name=location]').forEach(radio => {
            radio.addEventListener('change', () => {
            total=total1;
                if (radio.value === 'dhaka') {
                    Shipping_charge = 60;
                } else if (radio.value === 'outside-dhaka') {
                    Shipping_charge = 100;
                }
                total = total + Shipping_charge;
                totalAmountElement.textContent = Shipping_charge;
                totaltkElement.textContent = total;
            });
        });




		
			var form=document.getElementById('form')

			form.addEventListener('submit',function(e){
				e.preventDefault()
				console.log("Form submitted")
				document.getElementById("form-button").classList.add('hidden')
				document.getElementById("payment-info").classList.remove('hidden')
			})

			document.getElementById('make-payment').addEventListener('click', function(a) {
				submitFormData();
			  });

			  function submitFormData() {
				console.log('Payment Button Clicked');
				var userFormData = {
				  'name': null,
				  'email': null,
				  'total': total
				};
				var shippingInfo = {
				  'address': form.address.value,
				  'email-address': form.emailAddress.value,
				  'phon-number': form.phonNumber.value,
				};


				var url = '/process_order/';
fetch(url, {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken
    },
    body: JSON.stringify({
        'form': userFormData,
        'shipping': shippingInfo
    })
})
    .then((response) => response.json())
    .then((data) => {
        console.log("success", data);

        Swal.fire({
            icon: 'success',
            title: 'Order Completed',
			text: 'Your order has been successfully completed! An email has been sent to your inbox.',
            confirmButtonText: 'OK',
            customClass: {
                confirmButton: 'btn btn-primary',
            },
        }).then((result) => {
            if (result.isConfirmed) {
                // Clear the cart and redirect to the home page
                cart = {};
                document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/";
                window.location.href = "/";
            }
        });
    });

			  }

		</script>
{% endblock %}