{% extends 'myapp/main.html' %}
{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .message {
        display: none;
        padding: 10px;
        background-color: #f74f06;
        color: white;
    }
</style>
{% if messages %}
<div class="messages d-flex justify-content-center">
    {% for message in messages %}
    <div class="message" id="success-message">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<script>

    var messageElement = document.getElementById("success-message");

    messageElement.style.display = "block";

    setTimeout(function() {
        messageElement.style.display = "none";
    }, 2000);
</script>

<style>
    .ti-arrow-left{
        display: none;
    }
    .ti-arrow-right{
        display: none;
    }
    @media (max-width: 767px){
        
        /* .single-slider{
            width: 100%;
        }
        .single-slider img{
            width: 100%;
        } */
        .quickview-slider-active{
            max-width: 100%;
            margin-top: 50px;
        }
    }
</style>
    <div class="" style="margin-top: -100px;" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
        
                    <!-- <div class="modal-body"> -->
                        <div class="row no-gutters">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-12 x">
                                <!-- Product Slider -->
									<div class="product-gallery">
										<div class="quickview-slider-active">
										
											<div class="single-slider">
												<img src="{{product.imageURL}}" alt="#"  >
											</div>
											<div class="single-slider">
                                                {% if product.imageURL2 %}
												<img src="{{product.imageURL2}}" alt="#">
                                                {% else %}
                                                <img src="{{product.imageURL}}" alt="#"  >
                                                {% endif %}
											</div>
										</div>
									</div>
								<!-- End Product slider -->
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-12">
                                <div class="quickview-content">
                                    <h2 style="color:#f74f06 ;font-size: 2rem;">{{product.name}}</h2>
                                    <div class="quickview-ratting-review">
                                        
          								<!-- {% if product.instock <=  0 %} -->
                                                 								<!-- {% endif %} -->
                      					{% if product.instock > 0 %}
                      					<div class="quickview-stock">
                                            <span ><i class="fa-solid fa-circle-check"></i>InStock </span>
                                        </div>
                                        {% else %}
                                        <div class="quickview-stock">
                                            <span><i class="fa-solid fa-circle-xmark" style="color: red;"></i> Stock Out</span>
                                        </div>
                                        {% endif %}


                                    </div>
                                   {% if product.discount_percent %}
                                   <del><span><i class="fa-solid fa-bangladeshi-taka-sign" style="font-size: 1rem;"></i> {{product.update_price}} </span></del>&nbsp;
                                       {% endif %}
                                    <span style="color: #f74f06; font-size: 1.5rem;"><i class="fa-solid fa-bangladeshi-taka-sign"></i>{{product.price}}</span>


                        
                                    <div class="quickview-peragraph">
                                        <p>{{ product.description|linebreaksbr }}</p>
                                    </div>
                             
									<div class="size">
										<div class="row">
                                            {% if product.instock > 0 %}
											<div class="col-lg-6 col-12">
												<h5 >Size</h5>
												<select id="sizeSelect">
													<option>s</option>
													<option>m</option>
													<option>l</option>
													<option>xl</option>
												</select>
											</div>
                                            {% endif %}
										</div>
									</div>
                      					{% if product.instock > 0 %}
                
									<div class="add-to-cart">
										 <button class="btn btn-dark update-cart" data-product="{{ product.id }}" data-action="add">
       										<i class="me-1 fa fa-shopping-basket"></i> Add to cart
   										 </button>
									
									</div>
                                    {% endif %}
                                   
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
    </div>
{% endblock %}
